* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

div {
    margin: 0px;
    padding: 8px;
}

/* ================== HELPERS ================== */
.bold {
    font-weight: bold;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

/* ============ END HELPERS ============== */

.outer-container {
    display: block !important;
    max-height: 500px;
}

.email-list {
    background-color: green;
}

.inner-container {
    justify-content: space-between;
}

.list-container {
    background-color: slategray;
    display: inline-flex;
}

.list-item-container {
    background-color: wheat;
    width: 250px;
    height: 4em;
    padding: 0;
    margin-bottom: 4px;
    cursor: pointer;
}

.list-item-container:hover {
    filter: invert(1);
}

.list-item-icon {
    background-color: aqua;
    display: inline-block;
}

.list-item {
    background-color: cornflowerblue;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 0.95em;
    line-height: 1em;
}

.list-item-status {
    background-color: blueviolet;
    display: inline-block;


}

.details-container {
    background-color: yellowgreen;
}

.details-top {
    background-color: chocolate;
    cursor: pointer;
}

.details-top:hover {
    filter: invert(1);
}

.full-content {
    background-color: blanchedalmond;
    height: 100%;
}

.email-status {
    background-color: darkcyan;
}

.status-container {
    background-color: red;
    justify-content: space-between;
}

.progress-container {
    background-color: gray;
    width: 100%;
}

.progress-empty {
    height: 20px;
    width: 100%;
    border: 1px black solid;
    background-color: azure;
    padding: 0;
}

.progress-filling {
    height: 20px;
    width: 41%;
    background-color: #333;
    padding: 0;
}

.progress-data {
    background-color: aqua;
    width: 80px;
}

.prev-next-container {
}

.prev-next {
    /* display: inline-block; */
    background: linear-gradient(#ccc, #eee, #ccc);
    border-radius: 2em;
    width: 130px;
    cursor: pointer;
}

.prev-next:hover {
    filter: invert(1);
}

.item-menu {
    display: block;
    position: absolute;
    transform: translate(210px,12px);
    width: 200px;
    padding: 3px;
    /* height: 100px; */
    background-color: blue;
}

.red {
background-color: red;
}

.btn-compose {
    /* display: inline-block; */
    background: linear-gradient(#ccc, #eee, #ccc);
    border-radius: 2em;
    width: 200px;
    cursor: pointer;
}

.btn-compose:hover{
    filter: invert(1);
}